@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: 0;
    border: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

html body {
    background-color: whitesmoke;
}

.container {}

/* ========== Navbar ========== */
.navbar {
    padding: 5px;
    height: 60px;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: gray;
    /* border: 1px solid black; */
}

.navbar>.nav-brand {
    padding: 5px;
    font-size: 25px;
    /* border: 1px solid black; */
}

.nav-search {}

.nav-search>.searchbar {
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    /* border: 1px solid black; */
}

.nav-search>.searchbar>input {
    width: 150px;
    height: 25px;
}

.nav-search>.searchbar>button {
    width: 25px;
    height: 25px;
    border-radius: 0px 10px 10px 0px;
}

.nav-list>.content-list {
    display: flex;
    flex-direction: row;
}

.nav-list>.content-list>li {
    margin: 5px;
    padding: 5px;
    /* border: 1px solid black; */
}

.content-list>li>a {
    font-size: 20px;
    color: black;
}